.banner_container{
    color:#C2C2C2;
    background-image: url(solutionBack.png);
    margin-top: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-block: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.solution_headind{
    margin: 0;
    font-size: clamp(2rem,1.5vw,1.3rem);
    font-weight: 450;
}
.solution_word{
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}




.solution_development_main_container{
    /* background-color: lightgrey; */
}
.story_line{
    display: grid;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 3rem;

}
.heading{
    display: flex;
    justify-content: left;
    column-gap: 0.4rem;
    margin-bottom: 0.3rem;

}
.side_word{
    color: #c2c2c2;
    font-size: clamp(1.7rem,1.5vw,1.3rem);
    margin-right: 0.5rem;
    
}
.middle{
    color:#F87F26;
    font-size: clamp(1.7rem,1.5vw,1.3rem);
    margin-right: 0.5rem;

}
.solution_box{
    background-color: #191E21;
    width:70%;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    padding-inline: 5px;
    cursor: pointer;
}
.solution_drop{
    color: #ffffff;
}
.icon{
    align-self: center;
    color: #ffffff;

}
.content_main_container{
    background-color: #191E21;
    padding: 0.5rem;
    width:70%;
    margin: auto;
    margin-bottom: 2rem;
    text-align: left;

}
.content_main_container h3{
    margin-left: 1rem;
    color:#FFFFFF ;
    font-size: clamp(1.3rem,1.1vw,1.0rem);
    margin-block: 0;
}
.intro{
    margin-left: 2.5rem;
    border-bottom: 1px solid #ffffff;
    width: max-content;
    color: #ffffff;



}
.describe{
    margin-left: 4.5rem;
    color: #ffffff;
    line-height: 1.5;



}
.list{
    margin-left: 6.5rem;
    color: #ffffff;
    line-height: 1.5; 



}
.system_feature_image_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.system_feature{
    /* background-color: lightgreen; */
    width: 100%;
}
.system_heading{
    margin-left: 2.5rem;
    border-bottom: 1px solid #ffffff;
    width: max-content;
    color: #ffffff;

}
.system_info{
    margin-left: 4.5rem;
    color: #ffffff;
    line-height: 1.5; 

}
.solution_img_div{
    text-align: right;   
}
.solution_img{
    width: 100%;
    height: 100%;
    margin: auto;
}

@media screen and (max-width:1400px) {
    .system_feature_image_container{
    grid-template-columns: repeat(1,1fr);

}
.solution_img_div{
    text-align: center;
    margin-bottom: 1.5rem;
}
.solution_img{
    width: 60%;
    
}
}

@media screen and (max-width:800px) {
    .solution_box{
        width:85%;
    }
    .content_main_container{
        width:85%;
        
    }
    .solution_img{
        width: 70%;
        height: 70%;
    }
}
@media screen and (max-width:500px) {
    .solution_img{
        width: 100%;
        height: 100%;
    }
    .story_line{
        margin-inline: 0;
    
    }
    .heading{
        justify-content: center;
    
    }
}
@media screen and (max-width:400px) {
    .solution_box{
        width:95%;
    }
    .content_main_container{
        width:95%;
        
    }
    .solution_img{
        width: 70%;
        height: 70%;
    }
    
}