

.header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color:transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    backdrop-filter: blur(50px);
  }


  

  .logo img {
    height: 40px;
  }

  .nav {
    display: flex;
/* background-color: lightblue;  */
   margin-inline: auto;
   /* background-color: #ff8c00; */

}

  .nav .header_button{
    font-size: 1.3rem;
    margin-inline: 1.5rem;
    font-weight: 500;
    color: #C2C2C2;
    text-decoration: none;
    cursor: pointer;
  }

 
  .nav .header_button.active {
    color:#F87F26;
    border-bottom: 3px solid #F87F26;
    border-radius: 3px;
  }
    

  
@media only screen and (max-width: 576px) {

.header{
  display: block;

}
.nav{
  justify-content: space-evenly;

} .nav .header_button{
    font-size: 0.8rem;
  margin-inline: 0.7rem;}
}