
  .background {
    background-image: url(First.png);
    color:#C2C2C2;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content:flex-start;
    width: 100%;
    background-size: cover;
    background-position: 'center';
    height: 100vh;
    padding-top: 12rem;
    /* box-sizing: border-box;  */
  }

  
  
  .banner_content{
    max-width: 40%;
    height: max-content;
    text-align: left;
    padding-left: 3rem;

  }
  .div_grp{
    width: max-content;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .div_grp_first{
    display: flex;
    align-items:baseline;
  }
  .title1
  {
    color: #D97932;
    font-size: 1.8rem;
    margin-inline: 2px;
    font-weight: 450;
  }

  .title2
  {
    color:#C2C2C2;
    font-size: 3.5rem;
    margin-inline: 2px;
  }
  .title3{
    color: #8AC51D;
    font-size: 6rem;
  }
  .banner_content p
  {
    font-size: clamp(1.2rem,1.3vw,1rem);
    line-height: 1.9rem;
    padding-bottom: 1.5rem;
  }
  .banner_content button{
    background-color: darkorange;
    border-radius: 50px;
    padding-inline: 2rem;
    padding-block: 0.9rem;
    font-size: 1rem;
    border: none;
  }
  .banner_content button a
  {
    text-decoration: none;
    color: black;
  }
  @media only screen and (max-width: 768px) {
    .background
    {
        align-items: center;
        height: 80vh;
        padding-top: 5rem;

    }
    .banner_content{
        max-width: 70%;
    }
    .title1
    {
      font-size: 1.2rem;
    
    }
  
    .title2
    {
      font-size: 3rem;
    }
    .title3{
      font-size: 5rem;
    }
  }